.container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
}

.content {
  position: relative;
  
  width: 200px;
  height: 200px;

  border-radius: 100%;
  
  background-color: #46D09E;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  text-align: center;
}